@charset "UTF-8";

//変数
$hoken-yerrow:#D9E021;
$hikaeme-text:#333;
$link-text:#3583aa;
$visited-text:#788d98;
$logo-size:80px;
$gray-text:#b9b9b9;
$main-color:#093dcc;
$main-font: 'Kosugi', sans-serif;


body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFB;
    font-size: 15px;
    line-height: 2;
}

// small {
//     color: $hikaeme-text;
// }

//リセットCSS
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

h2 {
    clear: left;
    border-bottom: solid 1px;
}

img {
    vertical-align: bottom;
    margin-right: 3px;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

//リンクの書式
.logo a {
    color: #000;
    text-decoration: none;
}

ul a {
    color: $link-text;
    text-decoration: none;
}

ul a:visited {
    color: $visited-text;
}

ul a:hover {
    text-decoration: underline;
}

//ヘッダーの書式
header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-top: 50px;
    font-weight: bold;
    font-family: $main-font;
    display: block;
}

.logo small {
    position: relative;
    left: 100px;
    font-size: 10px;
}

.logo img {
    width: $logo-size;
}

a {
    font-size: 20px;
}

.global-nav {
    float: right;
    margin-top: 60px;
}

.global-nav li {
    float: left;
    margin: 0 10px;
    font-size: 20px;
    list-style: none;
}

.global-nav li a:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    text-decoration: none;
}

#wrap {
    clear: both;
}

.content {
    width: 960px;
    margin: 0 auto;
}

//フッターの書式
footer {
    text-align: center;
    color: #fff;
    width: auto;
    height: 30px;
    background-color: #3b4043;
    bottom: 0;
}

//見出しの書式
h1 {
    line-height: 1.5;
}

//段落の書式

.i-catch p {
    margin:80px;
}


//アイキャッチ
.i-catch {
    position: relative;
    width: 100%;
}

#index h1 {
    position: absolute;
    font-size: 40px;
    line-height: 1;
    color: #fff;
    top: 50%;
    left: 5%;
}


//ボタン
button {
    border-color: #093dcc;
    border-radius: 80px;
    font-size: 20px;
    font-family: $main-font;;
    padding: 0 30px;
}

//口コミ
.voice__content {
    clear: left;
    margin: 40px;
}

.voice img {
    width: 20%;    
    float: left;
    margin-right: 65px;
}


//プラン内容
.plan {
    padding:0 50px 50px 50px;
}

.plan img {
    width: 70%;
}

.plan__content {
    text-align: center;
    padding: 40px;
    width: 200px;
    float: left;
    background-color: #dbdbdb;
}

//会社概要
.office {
    clear: left;
    margin: 50px;
}

th {
    color: $gray-text;
    text-align: left;
    width: 200px;
}

//アクセス
.access {
    position: relative;
    padding-bottom: 75%; // これが縦横比
    height: 0;
    overflow: hidden;
    }
    .access iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }

//TOPへ戻るボタン
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #3f98ef;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }