@charset "UTF-8";

//変数
$hoken-yerrow:#D9E021;
$hikaeme-text:#333;
$link-text:#3583aa;
$visited-text:#788d98;
$logo-size:80px;
$gray-text:#3b4043;
$main-color:#1748ce;
$main-font: 'Kosugi', sans-serif;
$main-bgcolor: #ebebeb;
$footer-color: #3b4043;


body {
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
    // background-color: #FaF0E9;
    font-size: 15px;
    line-height: 2;
}

// small {
//     color: $hikaeme-text;
// }

//リセットCSS
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

h2 {
    clear: left;
    border-bottom: solid 1px;
}

img {
    vertical-align: bottom;
    margin-right: 3px;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

//リンクの書式
.logo a {
    color: #000;
    text-decoration: none;
}

ul a {
    color: $link-text;
    text-decoration: none;
}

ul a:visited {
    color: $visited-text;
}

ul a:hover {
    text-decoration: underline;
}

//ヘッダーの書式
header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: fixed;
    display: block;
    z-index: 1;
    background-color: #fff;
    padding: 0 0 30px 0;

    &.add-opacity {
        opacity: 0.5;
        transform: 2s;
    }
}

.logo {
    float: left;
    margin-top: 20px;
    display: block;
    padding-left: 20px;
        font: {
            weight: bold;
            family: $main-font;
        }    
        a {
            font-size: 25px;
    }
}

.logo small {
    position: relative;
    left: 100px;
    font-size: 10px;
    top: -34px;
}

.logo img {
    width: $logo-size;
    margin-right: 20px;
}

a {
    font-size: 20px;
}

.nav {
    margin: 0 40px;
}

.global-nav {
    float: right;
    margin-top: 30px;
}

.global-nav li {
    float: left;
    margin: 0 10px;
    font-size: 20px;
    list-style: none;
}

.global-nav li a:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    text-decoration: none;
}

#wrap {
    clear: both;
}

.content {
    width: 100%;
    // width: 960px;
    margin: 0 auto;
}

//見出しの書式
h1,h3 {
    line-height: 1.5;
}

h2 {
    text-indent: 1em;
}

//段落の書式

.i-catch p {
    margin:66px;
    text-align: center;
}


//アイキャッチ
.i-catch {
    position: relative;
    width: 100%;
}

#index h1 {
    position: absolute;
    font-size: 40px;
    color: #fff;
    top: 50%;
    left: 5%;
}

//ボタン
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #fff;
    border: 0;
    background-color: $main-color;
    cursor: pointer;
    font-family: $main-font;
}

.plan__content button {
    border-radius: 80px;
    font-size: 20px;
    padding: 5px 28px 4px;

    &:hover {
        background: linear-gradient(0deg, rgba(0,3,255,1) 0%,
        rgba(2,126,251,1) 100%);
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
        border-color: transparent;
    }
}

//口コミ
.voice__content {
    clear: left;
    margin: 65px;
}

.voice img {
    width: 20%;    
    float: left;
    margin-right: 65px;
}


//プラン内容
.plan {
    padding:0 50px 50px 200px;
}

.plan img {
    width: 70%;
}

.plan__content {
    text-align: center;
    padding: 40px;
    width: 200px;
    float: left;
    background-color: $main-bgcolor;
    margin-bottom: 20px;
}

span {
    content:"";
    border: solid white;
    &::before {
        display: block;
        content:"";
        width: 2px;
        height: 100px;
        position: absolute;
    }
    &::after {
        content:"";
        width: 2px;
        height: 100px;
    }
}

//会社概要
.office {
    clear: left;
    margin: 50px;
}

th {
    color: $gray-text;
    text-align: left;
    width: 200px;
}

//アクセス
.access {
    position: relative;
    padding-bottom: 20.25%; // これが縦横比
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;

    iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }
}

//お問い合わせ
.toiawase {
    padding: 0 200px;
    margin-bottom: 20px;

    button {
        border-radius: 80px;
        padding: 9px 20px;
        margin: 0 5px;

        &:hover {
            background: linear-gradient(0deg, rgba(0,3,255,1) 0%,
          rgba(2,126,251,1) 100%);
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
            border-color: transparent;
        }
    }
}

//メール
.mail {
    background-color: $main-bgcolor;
    padding: 30px;
    position: relative;
    // display: flex;
    // justify-content: space-between;
}

#e-mail {
    width: 250px;
    height: 25px;
}

#m-button {
    background-color: $main-color;
    color: #fff;
    border: none;
    width: 70px;
    height: 31px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(0deg, rgba(0,3,255,1) 0%,
         rgba(2,126,251,1) 100%);
    }
}

.office-end {
    display: block;
    position: absolute;
    right: 32px;
    top: 31px;
}

//TOPへ戻るボタン
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: $hoken-yerrow;
    opacity: 0.6;
    cursor: pointer;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top:hover {
    opacity: 1;
  }

  //フッターの書式
footer {
    text-align: center;
    color: #fff;
    width: auto;
    height: 30px;
    background-color: $footer-color;
    bottom: 0;
}

.sns-btn {
    background-color: $footer-color;
    padding: 2px;
    
    &:hover {
        background-color: $footer-color;
        color: $link-text;
    }
}
