@charset "UTF-8";

//変数
$main-color:#1748ce;
$hoken-yerrow:#D9E021;
$link-text:#3583aa;
$visited-text:#788d98;
$logo-size:80px;
$gray-text:#3b4043;
$main-font: 'Kosugi', sans-serif;
$gray-bgcolor: #ebebeb;
$main-whcolor: #fbfbfb;
$footer-color: #3b4043;


body {
    margin: 0;
    padding: 0;
    background-color: $main-whcolor;
    font-size: 15px;
    line-height: 2;
}

//リセットCSS
p,h1,h2,h3,h4,h5,h6,input {
    margin-top: 0;
    margin-left: 0;
}

h2 {
    clear: left;
    border-bottom: solid 1px;
}

img {
    vertical-align: bottom;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

//リンクの書式
a {
    font-size: 20px;
}

//サイトタイトルの書式
.logo a {
    color: #000;
    text-decoration: none;
}

//メニューリンクの書式
ul a {
    color: $link-text;
    text-decoration: none;

    &:visited {
        color: $visited-text;
    }
    &:hover {
        text-decoration: underline;
    }
}
//ヘッダーの書式
header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: fixed;
    display: block;
    z-index: 1;
    background-color: #ffffff;
    padding: 0 0 30px 0;
    transition: 1s;
}

//ロゴの書式
.logo {
    float: left;
    margin-top: 20px;
    display: block;
    padding-left: 20px;
        font: {
            weight: bold;
            family: $main-font;
        }
        a {
            font-size: 25px;
        }
        small {
            position: relative;
            left: 100px;
            font-size: 10px;
            top: -34px;
        }
        img {
            width: $logo-size;
            margin-right: 20px;
        }
}

//メニューの書式
.nav {
    margin: 0 40px;
}

.global-nav {
    float: right;
    margin-top: 30px;
}

.global-nav li {
    float: left;
    margin: 0 10px;
    font-size: 20px;
    list-style: none;
}

.global-nav li a:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    text-decoration: none;
}

//ボディの書式
#wrap {
    clear: both;
}

.content {
    width: 100%;
    // width: 960px;
    margin: 0 auto;
}

//見出しの書式
h1,h3 {
    line-height: 1.5;
}

h2 {
    text-indent: 1em;
}

//アイキャッチ
.i-catch {
    position: relative;
    width: 100%;
    display: block;
}

//アイキャッチの段落の書式
.i-catch__p {
    margin:66px;
    text-align: center;
}

//アイキャッチの大見出し
#index h1 {
    position: absolute;
    font-size: 40px;
    color: #fff;
    top: 50%;
    left: 5%;
}

//ボタン
.more-btn {
    display: none;
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #fff;
    border: 0;
    background-color: $main-color;
    cursor: pointer;
    font-family: $main-font;
}

.plan__content button {
    border-radius: 80px;
    font-size: 20px;
    padding: 5px 28px 4px;
    width: 135px;

    &:hover {
        background: linear-gradient(0deg, rgba(0,3,255,1) 0%,
        rgba(2,126,251,1) 100%);
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
        border-color: transparent;
        width: 135px;
    }
}

//口コミ
.voice {
    margin-bottom: 50px;

    img {
        width: 20%;    
        float: left;
        margin-right: 65px;
    }
}

.voice__content {
    clear: left;
    margin: 65px;
}

//プラン内容
.plan {
    padding:0 50px 50px 218px;
    
    img {
        width: 70%;
        margin-right: 3px;
    }
}

.plan__content {
    text-align: center;
    padding: 40px;
    width: 200px;
    float: left;
    background-color: $gray-bgcolor;
    margin-bottom: 20px;
}

//会社概要
.office {
    clear: left;
    margin: 50px 50px 20px 218px;
}

th {
    color: $gray-text;
    text-align: left;
    width: 200px;
}

//アクセス（グーグルマップ埋め込み）
.access {
    position: relative;
    padding-bottom: 20.25%; // これが縦横比
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

//お問い合わせ
.toiawase {
    padding: 0 344px;
    margin-bottom: 20px;

    button {
        border-radius: 80px;
        padding: 9px 20px;
        margin: 0 5px;

        &:hover {
            background: linear-gradient(0deg, rgba(0,3,255,1) 0%,
          rgba(2,126,251,1) 100%);
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
            border-color: transparent;
        }
    }
}

//メール
.mail {
    background-color: $gray-bgcolor;
    padding: 30px;
    position: relative;
    // display: flex;
    // justify-content: space-between;
}

#e-mail {
    width: 250px;
    height: 25px;
}

#m-button {
    background-color: $main-color;
    color: #fff;
    border: none;
    width: 70px;
    height: 31px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(0deg, rgba(0,3,255,1) 0%,
         rgba(2,126,251,1) 100%);
    }
}

//フッター会社情報
.office-end {
    display: block;
    position: absolute;
    right: 32px;
    top: 31px;
}

//TOPへ戻るボタン
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: $hoken-yerrow;
    opacity: 0.6;
    cursor: pointer;

    a{
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        text-decoration: none;

        &::before{
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: '\f102';
            font-size: 25px;
            color: #fff;
            position: absolute;
            width: 25px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            text-align: center;
          }
      }
      &:hover {
        opacity: 1;
      }
}

//フッターの書式
footer {
    text-align: center;
    color: #fff;
    width: auto;
    height: 30px;
    background-color: $footer-color;
    bottom: 0;
}

.sns-btn {
    background-color: $footer-color;
    padding: 2px;
    
    &:hover {
        background-color: $footer-color;
        color: $link-text;
    }
}
