@media screen and (max-width: 960px) {
  header {
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
  }
  header.add-color {
    background-color: #1748ce;
  }
  .logo {
    margin-top: 16px;
    position: fixed;
    z-index: 1;
  }
  .logo img {
    width: 50px;
    margin-right: 20px;
  }
  .logo a {
    font-size: 17px;
    color: #fff;
  }
  .logo small {
    left: 70px;
    top: -18px;
  }
  #nav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 100%;
    top: 0;
    background: #1748ce;
    -webkit-transition: .7s;
    transition: .7s;
  }
  #nav ul {
    padding-top: 80px;
    margin-right: 90px;
  }
  #nav ul li {
    list-style-type: none;
    font-size: 20px;
  }
  #nav ul li a:hover {
    color: #1748ce;
    background: #fff;
    border-bottom: none;
  }
  #nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    padding: 10px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .global-nav li {
    clear: left;
  }
  #hamburger {
    display: block;
    position: absolute;
    top: 23px;
    right: 12px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    -webkit-transition: 7s;
    transition: 7s;
  }
  .inner_line {
    display: block;
    position: absolute;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: #D9E021;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 4px;
  }
  #line1 {
    top: 0;
  }
  #line2 {
    top: 12px;
  }
  #line3 {
    bottom: 16px;
  }
  .in {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    right: 0;
    -webkit-transition: 7s;
    transition: 7s;
  }
  .line_1, .line_2, .line_3 {
    background: #D9E021;
  }
  .line_1 {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
    top: 0;
  }
  .line_2 {
    opacity: 0;
  }
  .line_3 {
    -webkit-transform: translateY(-15px) rotate(45deg);
            transform: translateY(-15px) rotate(45deg);
    bottom: 0;
  }
  #index h1 {
    font-size: 25px;
  }
  .i-catch__p {
    margin: 50px;
    text-align: left;
  }
  .voice {
    margin-bottom: 1px;
  }
  .voice img {
    width: 50%;
    margin-right: 13px;
  }
  .voice__content {
    margin: 45px;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes slideDown {
    0% {
      opacity: 1;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes slideDown {
    0% {
      opacity: 1;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .slide-down {
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
  }
  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  @keyframes slideUp {
    0% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  .slide-up {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
  }
  .content-wrap {
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 0;
  }
  .close-btn, .more-btn {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 100px 0 0;
    position: -webkit-sticky;
    position: sticky;
    bottom: -15px;
    left: 0;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(60%, #fbfbfb));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fbfbfb 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 );
  }
  .close-btn {
    background: none;
  }
  .slide-up {
    height: 170px;
    padding-bottom: 0;
    overflow: hidden;
  }
  .slide-down {
    height: auto;
    overflow: visible;
  }
  .more-btn p {
    display: inline-block;
    color: #1748ce;
    cursor: pointer;
    background: #fbfbfb;
    width: 40%;
    border: solid #1748ce;
    border-radius: 20px;
    margin-left: 150px;
  }
  .close-btn {
    padding: 0;
  }
  .close-btn p {
    background: #aaa;
    color: #fff;
    border: none;
  }
  .plan {
    padding-left: 50px;
  }
  .plan img {
    width: 40%;
    float: left;
  }
  .plan h3 {
    margin: 30px;
    padding-left: 70px;
  }
  .plan__content button {
    width: 200px;
  }
  .plan__content button:hover {
    width: 200px;
  }
  .office {
    margin-left: 50px;
  }
  th {
    width: 90px;
  }
  .access {
    padding-bottom: 56.25%;
  }
  .toiawase {
    padding: 0 50px;
  }
  .toiawase button {
    padding: 9px 17px;
  }
  .office-end {
    display: none;
  }
}
/*# sourceMappingURL=responsive.css.map */