@charset "UTF-8";

//変数
$hoken-yerrow:#D9E021;
$hikaeme-text:#333;
$link-text:#3583aa;
$visited-text:#788d98;
$logo-size:80px;
$gray-text:#3b4043;
$main-color:#1748ce;
$main-font: 'Kosugi', sans-serif;
$main-bgcolor: #ebebeb;
$footer-color: #3b4043;

@media screen and (max-width: 960px) {
    body {
        background-color: #fbfbfb;
    }

    //ヘッダーの書式
    header {
        width: 100%;
        height: 40px;
        margin: 0 auto;
        position: fixed;
        display: block;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0);
        padding: 0 0 30px 0;
        transition: 1s;
    }

    //ロゴの書式
    .logo {
        float: left;
        margin-top: 16px;
        display: block;
        padding-left: 20px;
        
        img {
            width: $logo-size - 30;
            margin-right: 20px;
        }

        a {
            font-size: 17px;
            color: #fff;
        }

        small {
            position: relative;
            left: 70px;
            font-size: 10px;
            top: -18px;
        }
    }

    #nav {
        position: absolute;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: #ffffff;
        transition: .7s;
    }

    #nav ul{
        padding-top: 80px;
      }
      #nav ul li{
        list-style-type: none;
        font-size: 20px;
      }
      #nav a{
        display: block;
        text-decoration: none;
        color: #000000;
        margin: 0 15px;
        padding: 10px;
        transition: .5s;
      }
      #nav li a:hover{
        color: #ffffff;
        background: $main-color;
        border-bottom: none;
      }

      .global-nav {
        float: right;
        margin-top: 30px;
        margin-right: 91px;
        text-align: center;

        li {
          clear: left;
          margin: 0 10px;
          font-size: 20px;
          list-style: none;
        }
      }

      #hamburger {
        display: block;
        position: absolute;
        top: 23px;
        right: 12px;
        width: 50px;
        height: 44px;
        cursor: pointer;
        transition: 1s;
      }
      .inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: #fff;
        transition: 1s;
        border-radius: 4px;
      }
      #line1 {
        top: 0;
      }
      #line2 {
        top: 12px;
      }
      #line3 {
        bottom: 16px;
      }

      .in{
        transform: translateX(100%);
        left:-100%;
      }
      .line_1,.line_2,.line_3{
        background: #fff;
      }
      .line_1 {
        transform: translateY(10px) rotate(-45deg);
        top: 0;
      }
      .line_2 {
        opacity: 0;
      }
      .line_3 {
        transform: translateY(-15px) rotate(45deg);
        bottom: 0;
      }
    
    //アイキャッチ
    .i-catch {
        position: relative;
        width: 100%;
    }

    .pc { display: none !important; }
    .sp { display: block !important; }

    #index h1 {
        position: absolute;
        font-size: 25px;
        color: #fff;
        top: 50%;
        left: 5%;
    }

    //段落の書式

    .i-catch__p {
        margin:50px;
        text-align: left;
    }

    .voice {
      margin-bottom: 1px;

      img {
      width: 50%;    
      float: left;
      margin-right: 13px;
      }
  }

  .voice__content {
    clear: left;
    margin: 45px;
  }

    //プラン内容
    .plan {
        padding:0 50px 50px 50px;

        img {
          width: 40%;
          float: left;
        }

        h3 {
          margin: 30px;
          padding-left: 70px;
        }
    }

    .plan__content button {
      width: 200px;
    }

    //会社概要
    .office {
        clear: left;
        margin: 50px 50px 20px 50px;
    }

    th {
        color: $gray-text;
        text-align: left;
        width: 90px;
    }

    //アクセス
  .access {
    padding-bottom: 56.25%; // これが縦横比
  }

    //お問い合わせ
    .toiawase {
        padding: 0 50px;
        margin-bottom: 20px;

        button {
            border-radius: 80px;
            padding: 9px 17px;
            margin: 0 5px;
        }
    }
}

